@page
@using ManageCustomers.Domain.Models;
@model ManageCustomers.Pages.Customers.AddModel
<form method="post">
    <div class="input-group mb-3">
        <input asp-for="@Model.AddNewCustomer.FirstName" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1" />
        <span asp-validation-for="AddNewCustomer.FirstName" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <input asp-for="@Model.AddNewCustomer.LastName" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1" />
        <span asp-validation-for="AddNewCustomer.LastName" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <input asp-for="@Model.AddNewCustomer.Address" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1" />
        <span asp-validation-for="AddNewCustomer.Address" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <input type="date" asp-for="@Model.AddNewCustomer.DOB" class="form-control" placeholder="Date Of Birth" aria-label="Date Of Birth" aria-describedby="basic-addon1" />
        <span asp-validation-for="AddNewCustomer.DOB" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <input asp-for="@Model.AddNewCustomer.Mobile" class="form-control" placeholder="Mobile" aria-label="Mobile" aria-describedby="basic-addon1" />
        <span asp-validation-for="AddNewCustomer.Mobile" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <div>
            @foreach (var gender in Model.Genders)
            {
                <input type="radio" asp-for="@Model.AddNewCustomer.Gender" value="@gender" checked="checked" /> @gender

                <br />
            }
        </div>
        <span asp-validation-for="AddNewCustomer.Gender" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Add</button>
        <a asp-page="View" class="btn btn-danger">Cancel</a>
    </div>
</form>