@page
@model ManageCustomers.Pages.Customers.DeleteModel
<form method="post" asp-page-handler="delete">
    <input hidden asp-for="@Model.Customer.Id" />   
    <div class="mb-3">
        <label>First Name</label>
        <input asp-for="@Model.Customer.FirstName" readonly class="form-control"  />
    </div>

    <div class="mb-3">
        <label>Last Name</label>
        <input asp-for="@Model.Customer.LastName" readonly class="form-control" />
    </div>

    <div class="mb-3">
        <label>Date Of Birth</label>
        <input type="date" asp-for="@Model.Customer.DOB" readonly class="form-control"  />
    </div>

    <div class="mb-3">
        <label>Address</label>
        <input asp-for="@Model.Customer.Address" readonly class="form-control"  />
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <input asp-for="@Model.Customer.Gender" readonly class="form-control" />
    </div>

    <div class="mb-3">
        <label>Mobile</label>
        <input asp-for="@Model.Customer.Mobile" readonly class="form-control"/>
    </div>

    <div>
        <button type="submit" class="btn btn-success" style="width:15rem">Delete</button>
        <a asp-page="View" class="btn btn-danger" style="width:15rem">Cancel</a>
    </div>
</form>

@if (Model.Error)
{
    <span>Error deleting customer</span>
}

